.centered {
    width: 960px;
    margin: 0 auto;
}

.welcome-heading {
    text-align: center;
}

.logo {
    text-align: center;
    background-color: #4aaaaf;
    color: white;
    padding: 40px;
    font-size: 2em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
}